.headline-image{
    display: flex;
    flex-direction: row;
    opacity: 40%;
    width: auto;
    width: 100vw;
    height: 125px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;  
    font-size: 16pt;
    color: white; 
    -webkit-text-stroke: 3px rgb(0, 0, 0);
 
}

.nav-container {
    color: white; 
    -webkit-text-stroke: 1px rgb(0, 0, 0);

}